/* places class style in text h1 */
.places h1 {
display: block;
font-size: 30px;
margin-left: 20px;
margin-bottom: 0px;
}

/* places class style in text h2 */
.places h2 {
margin-top: 0;
font-size: 30px;
margin-bottom: 20px;
}

/* places class style in article tag */
.places article {
width: 390px;
padding: 20px;
margin: 20px;
border: 1px solid #FF5A5F;
border-radius: 4px;
display: flex;
justify-content: center;
}

/* places class style in div tag */
.places div{
display: flex;
justify-content: center;
flex-wrap: wrap;
}