/* places class style */
.places{
text-align: center;
}

/* places class style in text h1 */
.places h1{
font-size: 30px;
text-align: left;
display: block;
margin-left: 20px;
margin-bottom: 0px;
}

/* places class style in text h2 */
.places h2{
font-size: 30px;
margin-top: 5px;
}

/* article tag style */
article{
width: 390px;
border: 1px solid #FF5A5F;
border-radius: 4px;
padding: 20px;
margin: 20px;
display: inline-block;
vertical-align: top;
height: 300px;
}

/* price_by_night class style */
div.price_by_night{
color: #FF5A5F;
border: 4px solid #FF5A5F;
border-radius: 100%;
min-width: 60px;
height: 60px;
line-height: 60px;
font-size: 30px;
position: relative;
float: right;
top: -75px; 
}

/* information class style */
div.information{
height: 80px;
border-top: 1px solid #DDDDDD;
border-bottom: 1px solid #DDDDDD;
}

div.max_guest,
div.number_rooms,
div.number_bathrooms{
line-height: 140px;
width: 100px;
height: 100%;
display: inline-block;
background-position: 50% 10px;
background-repeat: no-repeat;
position: relative;
left: 30px;
top: -5px;
}

/* max_guest class style link image */
.max_guest{
background-image: url("../images/icon_group.png");
}

/* number_rooms class style link image */
.number_rooms{
background-image: url("../images/icon_bed.png");
}

/* number_bathrooms class style link image */
.number_bathrooms{
background-image: url("../images/icon_bath.png");
}

div.user,
div.description{
text-align: left;
margin-bottom: 10px;
margin-top: 10px;
}